/*Global Rules*/
:root{
  /* --msg-color: #18191a;
  --bg-color: #242526;
  --txt-color: #fff;
  --in-color  : #373737;
  --hover-color : #18191a;
  --border-color: #373839; */
  --msg-color   : #fff;
  --bg-color    : #fff; 
  --txt-color   : #000;
  --in-color    : #f1f0f0;
  --hover-color : #f2f2f2;
  --border-color: #ddd;
  --icon-color  : #0099ff;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex-container {
  display: flex;
}

/*Conversations Rules*/
.conversations {
  background-color: var(--bg-color);
  padding: 10px;
  flex: 1;
  height: 100vh;
  border-right: .5px solid var(--border-color);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.conversations .setting{
  position: absolute;
  top: -100vh;
  left: 0;
  background-color: var(--bg-color);
  color: var(--txt-color);
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 500ms;
}
.conversations .setting.open{
  top: 0;
}
.setting .nav-brand{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .5px solid var(--border-color);
}
.setting .nav-brand span{
  cursor: pointer;
}
.setting .account-name{
  text-align: center;
  margin-top: 25px;
  border-bottom: .5px solid var(--border-color);
  padding-bottom: 10px;
}
.setting .account-name img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.setting ul{
  padding: 30px;
}
.setting li{
  margin-bottom: 10px;
  background-color: var(--hover-color);
  padding: 10px;
  border-radius: 10px;
}
.setting li:first-of-type{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.setting li i{
  margin-right: 5px;
}
.setting a{
  color: var(--txt-color);
}
.conversations header {
  margin-bottom: 30px;
  padding-top: 15px;
}

.conversations header h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--txt-color);
  margin-bottom: 15px;
}
.conversations header h2 i {
  cursor: pointer;
}

.conversations form {
  position: relative;
  margin-top: 10px;
}

.conversations form input[type="text"] {
  background-color: var(--in-color);
  border: none;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 45px;
  border-radius: 20px;
  color: var(--txt-color);
  display: block;
  width: 100%;
}
@media (max-width:420px){
  .friends-chatting footer form i:first-of-type{
    display: none;
  }
}
@media (max-width:320px){
  .friends-chatting .chat-actions i:not(:last-of-type) {
    display: none;
  }
}
@media (max-width:380px){
  .conversations{
    padding: 1px;
  }
  .conversations .conversation img,
  .friends-chatting header img{
    height: 40px !important;
    width: 40px !important;
  }
  .friends-chatting header{
    padding: 5px 10px !important;
  }
  .friends-chatting *{
    font-size: 13px !important;
  }
  .friends-chatting main .friend-bio img{
    height: 50px !important;
    width: 50px !important;
  }
  .friends-chatting footer form input[type="submit"],
  .friends-chatting footer form i{
    top: 11px !important;
  }
}
#shrink-conver{
  color: var(--txt-color);
  display: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 20px;
}
@media (max-width:1060px){
  #shrink-conver{
    display: inline;
  }
  /* .conversations .setting{
    position: fixed;
  } */
  .conversations{
    flex: unset;
  }
  .conversations header h2{
    margin-top: 40px;
    justify-content: center;
  }
  .conversations header h2 span{
    display: none;
  }
  .conversations form{
    display: none;
  }
  .conversations .conversation{
    text-align: center;
  }
  .conversations .conversation img{
    margin-right: 0 !important;
  }
  .conversations .conversation .conversation-meta-data{
    display: none;
  }
  .conversations.expand{
    flex: 1;
    min-width: 250px;
  }
  .conversations.expand header h2{
    margin-top: 40px;
    justify-content: space-between;
  }
  .conversations.expand header h2 span{
    display: inline-block;
  }
  .conversations.expand form{
    display: block;
  }
  .conversations.expand .conversation{
    text-align: start;
  }
  .conversations.expand .conversation img{
    margin-right: 10px !important;
  }
  .conversations.expand .conversation .conversation-meta-data{
    display: block;
  }
}
.conversations form input[type="submit"],
.conversations form i {
  position: absolute;
  color: #5d646c;
  top: 7px;
}

.conversations form input[type="submit"] {
  opacity: 0;
  left: -5px;
  cursor: pointer;
}

.conversations form i {
  left: 10px;
  pointer-events: none;
  font-size: 25px;
}

.conversations .conversation {
  display: flex;
  align-items: center;
  color: var(--txt-color);
  cursor: pointer;
  padding: 5px;
  border-radius: 7px;
}

.conversations .conversation.active,
.conversations .conversation:hover {
  background-color: var(--hover-color);
}

.conversations .conversation img {
  height: 50px;
  width: 50px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.conversations .conversation .conversation-meta-data .friend-name {
  font-weight: normal;
  font-size: 16px;
  color: var(--txt-color);
}
.conversations .conversation .conversation-meta-data span,
.conversations .conversation .conversation-meta-data div {
  color: #7f7c79;
  font-size: 14px;
}

/*Chat Section Rules*/
.friends-chatting {
  flex: 3;
  position: relative;
  background-color: var(--msg-color);
  display: flex;
  flex-direction: column;
}

.friends-chatting header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 10px;
  border-bottom: .5px solid var(--border-color);
  position: relative;
}

.friends-chatting .friend-meta-data {
  color: var(--txt-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-chatting .friend-meta-data img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.friends-chatting .chat-actions {
  color: var(--icon-color);
  font-size: 20px;
}
.friends-chatting .pop-up{
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:51px;
  right: -200px;
  transition: all 500ms;
  width: 170px;
  border-radius: 4px;
  display: flex;
  z-index: 4;
  box-shadow: 1px 1px 5px rgba(0, 0,0, .2), -1px -1px 5px rgba(0, 0,0, .2);
}
.friends-chatting .pop-up.open{
  right: 0;
}
.friends-chatting .pop-up span i{
  margin-right: 5px;
  color: var(--icon-color);
  transition: all 400ms;
}
.friends-chatting .pop-up > span:hover{
  background-color: #f8f8f8;
  padding-left: 20px !important;
}
.friends-chatting .pop-up > span{
  padding: 8px 10px;
  cursor: pointer;
}
.friends-chatting .pop-up > span:last-of-type{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.friends-chatting .pop-up > span:last-of-type span{
  display: inline-block;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.friends-chatting .pop-up > span:last-of-type span:first-of-type{
  background-color: #0099ff;
}
.friends-chatting .pop-up > span:last-of-type span:nth-child(2){
  background-color: #009688;
}
.friends-chatting .pop-up > span:last-of-type span:nth-child(3){
  background-color: #673ab7;
}
.friends-chatting .pop-up > span:last-of-type span:last-of-type{
  background-color: #e91e63;
}
.friends-chatting .chat-actions i {
  cursor: pointer;
  margin-right: 8px;
}

.friends-chatting main {
  overflow-y: auto;
  padding: 20px;
  height: calc(100vh - 140px);
}

.friends-chatting main .friend-bio {
  display: flex;
  align-items: center;
  color: var(--txt-color);
  margin-bottom: 40px;
}

.friends-chatting main .friend-bio img {
  height: 70px;
  width: 70px;
  background-color: #ccc;
  margin-right: 15px;
}

.friends-chatting main .friend-bio .bio-details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.friends-chatting main .friend-bio .bio-details span:first-of-type {
  font-size: 16px;
  color: #244996;
  margin-bottom: 10px;
  cursor: pointer;
}

.friends-chatting main .friend-bio .bio-details span:last-of-type {
  margin-top: 5px;
}

.friends-chatting main .friend-bio .bio-details span:first-of-type:hover {
  text-decoration: underline;
}

.discussion-start {
  text-align: center;
  color: #888;
  font-weight: bolder;
  margin-bottom: 30px;
}
.msg-me .heart{
  position: absolute;
  bottom: -20px;
  right: 35px !important;
  color: red;
  font-size: 30px;
}
.msg-you .heart{
  position: absolute;
  bottom: -20px;
  left:  35px !important;
  color: red;
  font-size: 30px;
}
.friends-chatting main .msg-you {
  color: var(--txt-color);
  width: max-content;
  padding: 7px;
  border-radius: 10px;
  position: relative;
  background-color: var(--in-color);
  margin-bottom: 50px;
}

.friends-chatting main .msg-me {
  background-color: var(--icon-color);
  color: #f6f3ff;
  width: max-content;
  padding: 7px;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  margin-bottom: 50px;
}
.friends-chatting main .msg-me span:not(.heart),
.friends-chatting main .msg-you span:not(.heart){
  position: absolute;
  bottom: -37px;
  color: #555;
  display: block;
  width: 150px;
}
.friends-chatting main .msg-me p,
.friends-chatting main .msg-you p{
  user-select: none;
}
.friends-chatting main .msg-me span {
  right: -3px;
}
.friends-chatting main .msg-you span {
  left: -3px;
}

.waiting-discuss {
  padding:10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.waiting-discuss h2 {
  color: var(--txt-color);
  margin-bottom: 20px;
}

.waiting-discuss img {
  height: 150px;
  width: 150px;
  background-color: #ccc;
  border-radius: 50%;
}

.friends-chatting footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  padding: 10px;
  border-top: .5px solid var(--border-color);
}
.friends-chatting footer > div:not(.preview-media){
  display: flex;
  align-items: center;
  padding: 10px;
}
.friends-chatting footer i {
  color: var(--icon-color);
  font-size: 20px;
  margin-right: 8px;
  cursor: pointer;
}
.friends-chatting footer .preview-media > span{
  position: absolute;
  top: 0px;
  right: 10px;
  color: var(--icon-color);
  cursor: pointer;
  font-size: 30px !important;
  background-color: #fff;
  height: 30px;
  width: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
}
.friends-chatting footer .preview-media{
  display: none;
  justify-content: flex-end;
  position: relative;
  padding: 10px;
}
.friends-chatting footer .preview-media.media{
  display: flex;
}
.friends-chatting footer .preview-media img,
.friends-chatting footer .preview-media video{
  border: 3px dashed var(--border-color);
  outline: none;
  width: 120px;
  height: 120px;
  padding: 4px;
}
.friends-chatting footer form {
  flex: 1;
  position: relative;
  padding-left: 20px;
}

.friends-chatting footer form input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--in-color);
  color: var(--txt-color);
}

.friends-chatting footer form input[type="submit"],
.friends-chatting footer form i {
  position: absolute;
  top: 7px;
  right: 0;
}

.friends-chatting footer form input[type="submit"] {
  opacity: 0;
  cursor: pointer;
}

.friends-chatting footer form i:first-of-type {
  right: 50px;
}

.friends-chatting footer form i:last-of-type {
  pointer-events: none;
}